.clients_red {
  background: #fff;
  /* padding-bottom: 50px; */
  background: url("./images/test.png");
  width: 100%;

  min-height: 968px;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.t_h2 h2 {
  text-transform: uppercase;

  display: flex;
  justify-content: right;
  font-size: 50px;
  color: black;
}

@media screen and (max-width: 344px) {
  .t_h2 h2 {
    font-size: 30px;
  }
}
.t_h2 {
  margin-bottom: -7%;
  margin-top: 10%;
}

.top-image {
  box-sizing: border-box;
  padding: 5%;
  width: 100%;
}
.down-image {
  margin: 0px 38%;
  margin-bottom: 3%;
  width: 20%;
  height: 10%;
  box-sizing: border-box;
}
.ca-data {
  margin-top: 12%;
  color: white;
  padding-left: 5%;
}
.ca-data h6,
h3 {
  padding-left: 2%;
}

@media screen and (max-width: 767px) {
  .top-row2 {
    width: 90% !important;
    display: flex;
    justify-content: center;
    margin: auto !important;
    margin-top: 2% !important;
  }
  .top-row2 .top-image {
    width: 100%;
  }
}

.testimonial-slider .carousel-indicators [data-bs-target] {
  width: 30px !important;
  height: 30px !important;
  border-radius: 100% !important;
  color: green !important;
  background-color: green !important;
}
.testimonial-slider .carousel-indicators {
  bottom: -100px !important;
}
